<?xml version="1.0"?>
<robot name="erc_rover">

  <!-- Main robot frame -->
  <link name="base_link"/>

  <!-- Sensor frames -->
  <link name="zed_camera_link"/>
  <link name="laser"/>
  <link name="gps_link"/>

  <!-- ZED 2i -->
  <joint name="zed_mount_joint" type="fixed">
    <parent link="base_link"/>
    <child link="zed_camera_link"/>
    <origin xyz="0.39 0.0 0.45" rpy="0 0 0"/>
  </joint>

  <!-- RPLidar A1 -->
  <joint name="laser_mount_joint" type="fixed">
    <parent link="base_link"/>
    <child link="laser"/>
    <origin xyz="0.35 0.0 0.54" rpy="0 0 0"/>
  </joint>

  <!-- F9P GPS Antenna -->
  <joint name="gps_mount_joint" type="fixed">
    <parent link="base_link"/>
    <child link="gps_link"/>
    <origin xyz="0.10 0.0 1.40" rpy="0 0 0"/>
  </joint>

</robot>
